{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'card.css' %}">
    <title>Card</title>
</head>
<body>
    {% include 'partials/header.html' %}
    
    <main>
        <div class="container-fluid">
            <div class="d-flex flex-column flex-md-row flex-wrap mx-auto my-3 p-3">
                {% for note in notes %}
                <div class="card d-flex flex-column flex-wrap mx-auto my-3 p-3">
                    <h2 class="m-0 text-center">{{ note.title }}</h2>
                    <hr class="m-2">
                    <p class="fs-5 my-1">To: {{ note.to }}</p>
                    <p class="fs-5 my-1">From: {{ note.froms }}</p>
                    <p class="fs-5 my-1">Message: {{ note.message }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
    </script>
</body>
</html>