{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'list.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <title>Note</title>
</head>
<body>
  {% include 'partials/header.html' %}

  <main>
    <div class="container-fluid d-flex flex-column my-sm-3 p-sm-3">
      <div class="d-flex flex-column mx-sm-auto ">
        <h2 class="text-center title">LIST NOTE</h2>
        <hr class="my-1">
        <table class="my-3">
            <tr>
              <th class="thead p-sm-2 text-center">To</th>
              <th class="thead p-sm-2 text-center">From</th>
              <th class="thead p-sm-2 text-center">Title</th>
              <th class="thead p-sm-2 text-center">Message</th>
            </tr>
          
            {% for note in notes %}
            <tr>
              <td class="tdata p-sm-2 text-center">{{ note.to }}</td>
              <td class="tdata p-sm-2 text-center">{{ note.froms }}</td>
              <td class="tdata p-sm-2 text-center">{{ note.title }}</td>
              <td class="tdata p-sm-2 text-center">{{ note.message }}</td>
            </tr>
            {% endfor %}
        </table>
      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous">
</script>
</body>
</html>