* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(160deg, black,#FF8A5C, #F5587B, #E41749,#B206B0);
}


.card  {
    background: rgba( 232, 218, 218, 0.65 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
    backdrop-filter: blur( 12px ) !important;
    -webkit-backdrop-filter: blur( 12px ) !important;
    border-radius: 10px !important;
    border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}

.card:hover{
    transform: scale(1.2);
    box-shadow: 0 8px 32px 0 black !important;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 768px) {
    .card {width: 75%;}
}

@media (min-width: 768px) {
    .card {width: 20%;}
}

@media (max-width: 576px) {
    .card{margin: 1.5rem auto !important;}
}
