* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background: linear-gradient(150deg,black,#FED08F,#F2E8C6);
}



#form {
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter:blur(6.3px);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background: linear-gradient(-40deg,#FF5200, #FA9905, #F21170, #BA78CD);
    border-radius: 23px;
    border-bottom: 0.2px solid rgba( 255, 255, 255, 0.5 );
    border-right: 0.2px solid rgba( 255, 255, 255, 0.5 );
    margin: auto 0;
    
}


h2.title {
    color:  whitesmoke;
    text-shadow: 5px 5px 7px black;
}

.inputan {
    padding: 0.5em;
    border-radius: 5px;
}

.inputan:placeholder-shown {
    font-style: italic;
}

.inputan:focus {
    outline: 0;
    border: 2px solid #3E00FF;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    transition: all 0.025s ease-in-out;
}