* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {background-color: rgb(29, 26, 26);}
a:-webkit-any-link {color: whitesmoke;}
a:-webkit-any-link:hover {color:#be3a1c;}
.text {color: black;}
.navbar-toggler {
    border-color: #EEEEEE;
}
#spans {
    width: 50%;
    margin: auto;
    transform: rotate(90deg);
    background-color: whitesmoke;
}