* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #FED08F !important;
    font-family: 'Montserrat', sans-serif;
}


.title {
    text-shadow: 5px 5px 15px whitesmoke;
}

.thead, .tdata{
    font-size: larger;
}

@media (max-width:768px) {
    .thead, .tdata{
        font-size: medium;
    }
}

@media (max-width:576px) {
    .thead, .tdata{
        font-size: small;
    }
}