{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>
<header>
    <nav class="navbar navbar-expand-md custom">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <div id="spans"><span class="navbar-toggler-icon"></span></div>
          </button>

          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link fs-4 px-3" href="note-list">Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4 px-3" href="list">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-4 px-3" href="add-note">Add Friend</a>
                </li>
            </ul>
          </div>
          <button class="btn">
            <a href="/admin/logout/?next=/" class="text-decoration-none fs-5 fw-bolder logout">LOGOUT</a>
          </button>
        </div>
    </nav>
</header>