<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid py-3">
      <h2 class="text-center">LIST OF MY FRIENDS</h2>
      <table class="d-flex justify-content-center ">
        <tr>
          <th class="py-1 px-5 text-center;">Name</th>
          <th class="py-1 px-5 text-center;">NPM</th>
          <th class="py-1 px-5 text-center;">Birthdate</th>
        </tr>
      
        {% for friend in friends %}
        <tr>
          <td class="py-1 px-4 text-center">{{ friend.name }}</td>
          <td class="py-1 px-4 text-center">{{ friend.npm }}</td>
          <td class="py-1 px-4 text-center">{{ friend.dob }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
