<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Form</title>
</head>
<body>
    <div class="container-fluid py-3 mx-auto">
        <h2 class="text-center">PLEASE FILL THIS FORM<br>TO REGISTER YOUR FRIENDS</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div id="form-input" class="text-center">{{ form.as_p }}</div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary">SUBMIT</button>
            </div>
        </form>
    </div>
</body>
</html>