<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NOTE</title>
  </head>
  <body>
    <table>
      <tr>
        <th style="padding: 0 1.2em; text-align: center;">To</th>
        <th style="padding: 0 1.2em; text-align: center;">From</th>
        <th style="padding: 0 1.2em; text-align: center;">Title</th>
        <th style="padding: 0 1.2em; text-align: center;">Message</th>
      </tr>
    
      {% for note in notes %}
      <tr>
        <td style="padding: 0 1.2em; text-align: center;">{{ note.to }}</td>
        <td style="padding: 0 1.2em; text-align: center;">{{ note.froms }}</td>
        <td style="padding: 0 1.2em; text-align: center;">{{ note.title }}</td>
        <td style="padding: 0 1.2em; text-align: center;">{{ note.message }}</td><br/>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
