<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th style="padding: 0 1.2em; text-align: center;">Name</th>
        <th style="padding: 0 1.2em; text-align: center;">NPM</th>
        <th style="padding: 0 1.2em; text-align: center;">Birthdate</th>
      </tr>
    
      {% for friend in friends %}
      <tr>
        <td style="padding: 0 1.2em; text-align: center;">{{ friend.name }}</td>
        <td style="padding: 0 1.2em; text-align: center;">{{ friend.npm }}</td>
        <td style="padding: 0 1.2em; text-align: center;">{{ friend.dob }}</td><br/>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
